{% extends "base.html" %}

{% block title %}
    <title>หน้าแรกของเว็บไซต์</title>
{% endblock title %}

{% block content %}
    <h2 class="text-center">ข้อมูลประชากรทั้งหมด</h2>
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success" role="alert">
            <storng>{{message}}</storng>
          </div>
        {% endfor %}
    {% endif %}

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>  
            <th scope="col">Last Name</th>    
            <th scope="col">Age</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">แก้ไข</th>   
            <th scope="col">ลบ</th>
          </tr>
        </thead>
        <tbody>
          {% for person in all_person %}
          <tr>
            <th scope="row">{{person.id}}</th>
            <td>{{person.fname}}</td>
            <td>{{person.lname}}</td>
            <td>{{person.age}}</td>
            <td>{{person.username}}</td>
            <td>{{person.email}}</td>
            <td>{{person.password}}</td>
            <td > <a href='edit/{{person.id}}' class="btn btn-warning">แก้ไข</a> </td>
            <td > 
              <a href='delete/{{person.id}}' 
              class="btn btn-danger"
              onclick="return confirm('คุณต้องการลบ {{person.name}} หรือไม่?')">ลบ</a> 
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock content %}  